{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "img_path" .Site.Params.header.bg_img }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <div class="post-feed">
        {{ $display_posts := ((.Site.GetPage "section" "/posts").Pages).ByDate.Reverse }}
        {{ range $post := $display_posts }}
        <article class="post">
          <header class="post-header">
            <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
            <div class="post-meta">
              Published on <time class="published"
                datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">{{ $post.Date | dateFormat "January 02, 2006" }}</time>
            </div>
          </header><!-- .post-header -->
          {{ if $post.Params.thumb_img_path }}
          <a class="post-thumbnail" href="{{ $post.URL }}">
            <img class="thumbnail" src="{{ $post.Params.thumb_img_path | relURL }}" alt="{{ $post.Params.title }}" />
          </a>
          {{ end }}
          <div class="post-content">
            <p>{{ $post.Params.excerpt }}</p>
          </div><!-- .post-content -->
          <p class="read-more">
            <a class="read-more-link" href="{{ $post.URL }}">Keep reading <span class="icon-arrow-right" aria-hidden="true"></span></a>
          </p>
        </article><!-- .post -->
        {{ end }}
      </div><!-- .post-feed -->

      <!-- Pagination TBD -->
      <!--
      <nav class="pagination">
        <div class="nav-links">
          <a class="older-posts button" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
          <span class="page-number">Page X of Y</span>
          <a class="newer-posts button" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
        </div>
      </nav>
      -->

    </main><!-- .site-main -->

    {{ partial "footer.html" . }}

  </div><!-- .site-content -->

{{ end }}
